footer{
    clear: both;
    background: #383838;
    height: 500px;
    width: 100%;
    position: relative;
    color: white;
    font-family: 'Muli', sans-serif;
}

/*Divs verticales del footer*/

#divImagenes{
    float: right;
    width: 10%;    
    margin-right: 7%;
    margin-top: 2%;
}

#divImagenes img{
    display: block;
    width: 100%;
    height: 60px; 
    margin-top: 15px;
    margin-right: 20px;    
}

.divsVerticales{
    float: left;
    width: 20%;
   list-style:none;
    margin-left: 20px;
    margin-top: 20px;
}

.divsVerticales ul{
    list-style: none;
    font-size: 20px;
}

.divsVerticales ul a{
    color:white;
    text-decoration: none;
}

.divsVerticales ul a:hover{
    color:fuchsia;
    text-decoration: underline;

}

/*Parte horizontal final del footer*/

#divHorizontal {
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 60%;
    text-align: center
}

#divHorizontal img {
    height: 40px;
    width: 40px;
    margin: 20px;
    position: relative; 
}

#raya{
    width: 100%;
    text-align: center;    
}