* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: "Helvetica";
}

html, body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
}

header {

    width: 100%;
    height: 20px;
    padding-bottom: 100px;
    font-family: 'Muli', sans-serif;
    color: white;
    vertical-align: center;
    
}

header>img {
    width: 65px;
    margin-left: 100px;
    margin-top: 20px;
    
}

header>nav {
    display: inline-block;
    width: 450px;
    margin-left: 60%;
}


header>nav>ul>li {
    display: inline-block;
    list-style: none;
    width: 75px;
    font-size: 18px;
    margin-left: 5px;
}

header>nav>ul>li:hover{
    color: deeppink;
}

header>nav>ul>li>button {
    width: 70px;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

#botonLogInNav:hover {
    background-color: rgba(255, 255, 255, 0.58);
}
#botonSingUpNav {
    border: 2px solid deeppink;
    color: deeppink;
    display: none;
}


/* seccion1 */

#seccion1{
/*    margin-top: 105px;*/
    position: relative;
}

#formulario {
    width: 40%;
    height: 100%;
    background-color: #fff;
    float:right;
    font-family: "arial";
    color: #36218c;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#formulario .formularioText{
    margin-top: 10px;
    font-size: 90%;
}

.numTel{
    margin-top: 10px;
    width: 90%;
}
.numTel .inputs{
    width: 90%;
    height: 40px;
    background-color: none;
    border: none;
}

.botones{
    display: inline-block;
}

.botonDriver{
    margin-top: 10px;
    background-color: #ff00bf;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #fff;
    font-size: 90%;
}

.botonSign{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #6e6f80;
    text-decoration: underline;
    font-size: 90%;
}

.infoAdicional{
    margin-top: 10px;
    color: #6e6f80;
    font-size: 70%;
}
.infoAdicional .linkInfo{
    color: #ff00bf;
    text-decoration: none;
}

#imgCelular{
    clear: both
}

#sectionTelefono{
    clear: both;
    height: 100%;
    background: linear-gradient(#74268e, #2b1e66);
    padding: 20px;
}

#textoSectionTelefono{
    color: #fff;
    padding-bottom: 50px;
}

.tituloBloqueText{
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 10px;
}

.contBloqueText{
    font-family: "Helvetica Neue";
    font-weight: 300;
}

/*
section{
    display: block;
}

#contenedorVideosTextos{
    position: static;
    display: block;
}*/
.video {
    width: 50%;
    float: left
}
#contenedorVideosTextos>div>div>img {
    width: 100%;
}
#contenedorVideosTextos>div>div>iframe {
    width: 60%;
    display: none;
}

.textoLadoVideo {
    display: inline-block;
    width: 35%;
    margin: 5px;
}
#divisionTextoVideo1,#divisionTextoVideo2,#divisionTextoVideo3 {
    height: 250px;
    margin-bottom: 30px;
}
#video2 {
    float: right
}
