* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/homepage-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

html, body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 20px;
    padding-bottom: 100px;
    font-family: 'Muli', sans-serif;
    color: white;
    vertical-align: center;
}

header>img {
    width: 65px;
    margin-left: 100px;
    margin-top: 20px;
    
}

header>nav {
    display: inline-block;
    width: 450px;
    margin-left: 60%;
}


header>nav>ul>li {
    display: inline-block;
    list-style: none;
    width: 75px;
    font-size: 18px;
    margin-left: 5px;
}

header>nav>ul>li:hover{
    color: deeppink;
}

header>nav>ul>li>button {
    width: 70px;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

#botonLogInNav:hover {
    background-color: rgba(255, 255, 255, 0.58);
}
#botonSingUpNav {
    border: 2px solid deeppink;
    color: deeppink;
    display: none;
}
/* seccion1 */

#seccion1{
    margin-top: 105px;
    position: absolute;
}

#formulario {
    width: 70%;
    height: 300px;
    background-color: #fff;
    float:right;
    font-family: "arial";
    color: #36218c;
    padding-left: 20px;
}

.numTel{
    width: 90%;
}
.numTel .inputs{
    width: 90%;
    background-color: none;
    border: none;
}

.botones{
    display: inline-block;
}

.botonDriver{
    background-color: #ff00bf;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #fff;
    font-size: 90%;
}

.botonSign{
    background-color: #fff;
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 200px;
    color: #6e6f80;
    text-decoration: underline;
    font-size: 90%;
}

.infoAdicional{
    color: #6e6f80;
    font-size: 70%;
}
.infoAdicional .linkInfo{
    color: #ff00bf;
    text-decoration: none;
}