* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 20px;
    padding-bottom: 100px;
    font-family: 'Muli', sans-serif;
    color: white;
    vertical-align: center;
}

header>img {
    width: 65px;
    margin-left: 100px;
    margin-top: 20px;
    
}

header>nav {
    display: inline-block;
    width: 450px;
    margin-left: 60%;
}


header>nav>ul>li {
    display: inline-block;
    list-style: none;
    width: 75px;
    font-size: 18px;
    margin-left: 5px;
}

header>nav>ul>li:hover{
    color: deeppink;
}

header>nav>ul>li>button {
    width: 70px;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

#botonLogInNav:hover {
    background-color: rgba(255, 255, 255, 0.58);
}

#botonSingUpNav {
    border: 2px solid deeppink;
    color: deeppink;
    display: none;
}
